body {
  background-image: url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg");
background-color: rgba(9, 9, 10, 0.78);
background-blend-mode: darken;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 99vw;
  display: flex;
  position: sticky;
  top: 0;
  background-color: black;
}

#langauge1 {
  margin-left: 53vw;
  margin-top: 1.8vh;
}

#langauge2 {
  margin-left: 10vw;
  margin-top: 5vh;
}

#login {
  height: 5vh;
  width: 8vw;
  margin-left: 1.5vw;
  margin-top: 2.5vh;
  background-color: rgb(230, 9, 9);
  color: rgb(245, 247, 249);
  border-radius: 6px;
}

#main-body {
  color: rgb(252, 252, 252);
}

#scroller {
  display: flex;
  overflow-x: auto;
  gap: 3vw;
}

.img {
  margin-top: 5vh;
  height: 39vh;
  width: 15vw;
  border-radius: 7px;
  transform: scale(1) translateY(0px);
  transition: transform 1s ease;
}

.img:hover{
  transform: scale(1.1) translateY(-10px);
}

#reason-to-join {
  display: flex;
  margin-left: 3vw;
}

.reasons {
  height: 55vh;
  width: 20vw;
  margin-left: 3.5vw;
}



.freq-que {
  height: 10vh;
  width: 83vw;
  margin-left: 7vw;
  margin-top: 2vh;
  display: flex;
}

.freq-que:hover {
  background-color: rgb(239, 12, 12);
  transform: scale(1.01);
  
  border-radius: 5px;
}

#icon1 {
  
  color: white;
  display: flex;
  flex-direction: row;
  margin-left: 60vw;
  font-size: 70px;
  margin-top: -1vh;
}

#icon2 {
  color: white;
  display: flex;
  flex-direction: row;
  margin-left: 47.5vw;
  font-size: 70px;
  margin-top: -1vh;
}

#icon3 {
  color: white;
  display: flex;
  flex-direction: row;
  margin-left: 56.3vw;
  font-size: 70px;
  margin-top: -1vh;
}

#icon4 {
  color: white;
  display: flex;
  flex-direction: row;
  margin-left: 58.9vw;
  font-size: 70px;
  margin-top: -1vh;
}

#icon5 {
  color: white;
  display: flex;
  flex-direction: row;
  margin-left: 47.8vw;
  font-size: 70px;
  margin-top: -1vh;
}

#icon6 {
  color: white;
  display: flex;
  flex-direction: row;
  margin-left: 52.3vw;
  font-size: 70px;
  margin-top: -1vh;
}

#join-now{
  color: rgb(250, 253, 255);
  background-color: rgb(255, 0, 0);
  border-radius: 30px;
  font-size: 30px;
  height: 10vh;
  width: 20vw;
  margin-left: 40vw;
  margin-top: 5vh;
}

